# Ignore everything in this directory
*


# Except these file
!.gitignore
!*.R
!*.Rmd
!*.stan
.Rproj.user
*.html
!*.md

!/_Rmkd/
!/_Rmkd/*
*.html

!/00_src/
!/00_src/*

!/01_scripts
!/01_scripts/*

!/04_visualisations
!/04_visualisations/*
